.main-btn{
    background-color: #1DA1F2;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 30px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.main-btn:hover{
    background-color: #198bd2;
    margin-top: 12px;
    padding: 8px 5rem;
    color: white;
}

.scndry-btn{
    border: 2px solid #1DA1F2;
    background-color: white;
    color: #1DA1F2;
    border-radius: 8px;
    padding: 8px 30px;
    font-size: 20px;
    margin: auto 5px;
    cursor: pointer;
}

.scndry-btn:hover{
    background-color: #1DA1F2;
    color: white;
    padding: 8px 5rem;
}